rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Pengajuan pinjaman nasabah
    match /loan_applications/{applicationId} {
      allow read, create, update: if true;
      allow delete: if false;
    }

    // Jejak log audit
    match /audit_logs/{logId} {
      allow read, create: if true;
      allow update, delete: if false;
    }

    // Pengguna dan otorisasi profil peran (Kolektor & Analyst)
    match /users/{userId} {
      allow read: if true;
      allow write: if true;
    }

    // Uji koneksi kesehatan backend
    match /test/{docId} {
      allow read, write: if true;
    }
  }
}
